body {
    margin: 0;
}

.terminal-container {
    background: black;
    color: greenyellow;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#terminal-output {
    flex: 1;
    overflow-y: auto;
    white-space: pre-wrap;
}

#terminal-input-area {
    display: flex;
    align-items: center;
}

#terminal-prompt {
    flex: none;
}

#terminal-input {
    flex: none;
    word-wrap: break-word;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 1em;
    background-color: greenyellow;
    animation: blink 1s step-start 0s infinite;
    vertical-align: bottom;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Darken the rest of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: black;
    padding: 20px;
    border: 2px solid greenyellow;
    color: greenyellow;
    font-family: monospace;
    text-align: center;
}

#loading-bar {
    font-size: 2em;
    margin-top: 20px;
}
.loading-success {
    color: rgb(167, 226, 77);
    animation: blink 0.5s reverse infinite;
}
